@import 'variables.scss';

.custom-button {
  min-width: 165px;
  width: auto;
  letter-spacing: 0.5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: 1px solid $black;
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;

  &:hover,
  &:focus {
    background-color: $white;
    color: $black;
  }

  &--inverse {
    background-color: $white;
    color: $black;

    &:hover,
    &:focus {
      background-color: $black;
      color: $white;
    }
  }

  &--blue {
    border: 1px solid $blue;
    background-color: $blue;

    &:hover {
      color: $white;
      background-color: $light-blue;
      border: 1px solid $light-blue;
    }
  }
}
