.cart {
  position: relative;

  &__dropdown-toggle {
    position: relative;
    border: none;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;

    @media screen and (max-width: 576px) {
      width: 36px;
      height: 66px;
      padding-top: 15px;
      padding-bottom: 13px;
    }
  }

  &__item-count {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;

    @media screen and (max-width: 576px) {
      font-size: 14px;
      bottom: 18px;
    }
  }
}
