@import 'variables';

.collection {
  margin-right: -15px;

  &--preview + .collection--preview {
    margin-top: 60px;

    @media (max-width: $sm-max-width) {
      margin-top: 40px;
    }

    @media (max-width: $xs-max-width) {
      margin-top: 30px;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;

    &--md {
      font-size: 30px;
      margin-bottom: 25px;
    }

    &--left {
      text-align: left;
    }
  }
}
