.cart-dropdown {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  right: 0;
  top: calc(100% + 10px);
  border: 1px solid #000;
  background-color: #fff;
  width: 240px;
  height: 360px;
  display: flex;
  flex-direction: column;

  &--open {
    right: 0;
    z-index: 20;
    visibility: visible;
  }

  @media screen and (max-width: 576px) {
    visibility: visible;
    border: none;
    border-left: 1px solid #000000;
    height: auto;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 20;
    width: 300px;
    transition: right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    box-shadow: 0 0 10px #85888c;
    background-color: #fff;

    &--open {
      visibility: visible;
      right: 0;
    }
  }

  &__items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    overflow-y: auto;
  }

  &__empty-message {
    font-size: 18px;
    margin: auto;
    overflow-y: auto;
  }

  &__checkout-btn {
    margin: 15px;
  }
}
