@import 'variables';

.error-boundary {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__image {
    display: inline-block;
    width: 40vh;
    height: auto;
  }

  &__text {
    font-size: 28px;
    color: $gray;
  }
}
