@import 'variables';

.checkout {
  max-width: 1000px;
  margin: 0 auto;

  &__header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    border-bottom: 1px solid $gray;

    @media (max-width: $xs-max-width) {
      display: none;
    }
  }

  &__header-partition {
    text-align: center;
    & + .checkout__header-partition {
      margin-left: 15px;
    }

    &--product {
      width: 250px;
      text-align: left;

      @media (max-width: $md-max-width) {
        width: 200px;
      }

      @media (max-width: $md-max-width) {
        width: 150px;
      }
    }

    &--description {
      flex-grow: 1;
      text-align: left;
    }

    &--quantity {
      width: 150px;

      @media (max-width: $md-max-width) {
        width: 120px;
      }
    }

    &--price {
      width: 100px;

      @media (max-width: $sm-max-width) {
        width: 80px;
      }
    }

    &--remove {
      width: 45px;
    }
  }

  &__total {
    margin-top: 30px;
    font-size: 36px;
    text-align: right;
  }

  &__pay {
    text-align: center;
  }

  &__test-warning {
    color: red;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
  }
}
