@import 'variables';

@mixin shrinkLabel {
  top: -20px;
  font-size: 15px;
  color: $black;
}

.form-input {
  position: relative;
  margin: 45px 0;

  &__field {
    background-color: white;
    color: $black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    margin: 25px 0;

    &:focus ~ .form-input__label {
      @include shrinkLabel();
    }
  }

  &__label {
    color: $gray;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &--shrink {
      @include shrinkLabel();
    }
  }
}
